/**
 * ----------------------------------------
 * animation shake-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes shake-horizontal {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

@keyframes shake-horizontal {
    0%, 100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }

    10%, 30%, 50%, 70% {
        -webkit-transform: translateX(-10px);
        transform: translateX(-10px);
    }

    20%, 40%, 60% {
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }

    80% {
        -webkit-transform: translateX(8px);
        transform: translateX(8px);
    }

    90% {
        -webkit-transform: translateX(-8px);
        transform: translateX(-8px);
    }
}

.attention {
    -webkit-animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    animation: shake-horizontal 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
}


/**
 * ----------------------------------------
 * animation loading
 * ----------------------------------------
 */
@-webkit-keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% {
        -webkit-transform: scale(0);
        transform: scale(0);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

.loading {
    display: block;
    width: 40px;
    height: 40px;
    margin: auto;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}



:root {
    --primary-color: #4384C0;
    --background-color: #37536D;
    --radius: 10px;
    --shadow: 0px 2px 5px 5px rgba(0,0,0,0.1);
    --space: 30px;
}

html 
{
    height: 100%;
}

body
{
    background-color: var(--background-color);
    height: 100%;
}

.block
{
    background-color: white;
}

.no-bg 
{
    background-color: rgba(0,0,0,0);
    color: white;
    box-shadow: none !important;
    padding: 0 !important;
}

.camera 
{
    background-color: var(--primary-color);
    height: 40%;
    position: relative;
    overflow: hidden;
}

.camera video {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    overflow: hidden;
}

.round 
{
    border-radius: var(--radius);
    padding: var(--space);
    margin: var(--space);
    box-shadow: var(--shadow);
}

button {
    border: 0;
    padding-left: calc(var(--space)*'2');
    padding-right: calc(var(--space)*'2');
    border-radius: 40px;
}

button.submit {
    display: block;
    background-color: var(--primary-color); /*#50a750; /**/
    color: white;
    width: 90%;
    margin: auto;
    min-height: 100px;
}

button.clickable .loading
{
    display: none;
}

button.clickable span {
    display: inline;
}

button:not(.clickable) span {
    display: none;
}


textarea
{
    resize:none;
}
